body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border, .btn, input, select, textarea, .target-container {
  border: 1px solid currentColor;
  /* border: 1px solid #fdfbeb87; */
  border-radius: 5px;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

body {
  /* --color-subtle: #7f838a; */
  --color-subtle: #fdfbeb87;
  --color-main: #fdfbeb;
  --color-highlight: #49eeff;
  background-color: #122438;
  color: var(--color-main);


  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

#root {
  padding: 20px;
}

.main-container {
  width: 600px;
  max-width: calc(100vw - 80px);
  min-width: 475px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}
.space-between.min-space-between-h > *:not(:last-child) {
  margin-right: 15px;
}
.space-between.min-space-between-v > *:not(:last-child) {
  margin-bottom: 15px;
}

.btn {
  background: none;
  color: var(--color-highlight);
  cursor: pointer;
  font-size: 1em;
  padding: 12px;
  transition: .2s;
  border-color: currentColor;
  text-transform: uppercase;
}
.btn.btn-small {
  font-size: 0.65em;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:not(:disabled):hover {
  /* background: rgba(255, 255, 255, 0.3); */
  background: #49edff31;
  box-shadow: 0 0 5px var(--color-highlight);
}

input, select, textarea {
  background: none;
  color: var(--color-main);
  font-size: 1em;
  box-sizing: border-box;
}

.search-container input, .search-container select {
  height: 45px;
}

select {
  cursor: pointer;
}

input, textarea {
  padding-left: .5em;
}

textarea::placeholder {
  text-transform: capitalize;
}

.search-container {
  padding-bottom: 30px;
}
.search-container input, .search-container select {
  width: 100%;
}
.search-container input::placeholder {
  /* color: var(--color-subtle); */
  color: var(--color-main);
}
/* .search-container select {
  width: 90%;
} */

.flex-center-h {
  justify-content: center;
}

.flex-center-v {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

input:focus, select:focus, .btn:focus, textarea:focus {
  outline: none;
  box-shadow: 0px 0px 10px var(--color-highlight);
}


.target-container {
  padding: 10px;
  border-color: var(--color-subtle);
}

.target-container .name {
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--color-highlight);
}
.target-container .actions {
  width: 150px;
}
.target-container .status {
  margin-top: 5px;
}
.target-container .info {
  margin-top: 10px;
  color: var(--color-subtle);
  font-size: .9em;
}
.target-container .info ul {
  padding-left: 18px;
}
.target-container .info p {
  margin-bottom: 0;
}